parameters:
    paths:
        - ./src
    level: 8
    ignoreErrors:
        - '#Call to an undefined static method ([\w\\\:_\(\)]+)::create\(\)#'
        - '#TValidationRules#'
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    checkGenericClassInNonGenericObjectType: false
